@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">College Management System</h1>
        <p class="lead">This College Management System that is the ultimate tool for convinient Lecture scheduling.Wit its seamless features, you can say goodbye to te scheduling hassles and say hello to a more convenient and productive Acadamic journey!</p>
    </section>

    <div class="row">
        <section class="col-md-12" aria-labelledby="Introduction">
            <h2 id="Introduction">Available Features</h2>
            <p>
                <ul>
                    <li>
                        Manage Teachers
                    </li>
                    <li>
                        Manage Student Batches
                    </li>
                    <li>
                        Manage Subjects
                    </li>
                    <li>
                        Manage Lectures
                    </li>

                </ul>
            </p>
        </section>
    </div>
</main>